{% extends 'app1/base.html' %}
{% block content %}
    {% if message %}
	    <h4>{{ message }}</h4>
    {% endif %}

    <h1>Pizza </h1><br>
    nazwa: {{ pizza.name }}<br>
    cena: {{ pizza.price }} zł<br>
    opis: {{ pizza.description }}<br>

<br>
<br>

    <a href="{% url 'pizza-list' %}"> << Powrot do listy Pizz  </a><br><br><br>
    <a href="{% url 'topping-list' %}"> << Zobacz liste dodatkow  </a><br><br><br>
    <a href="{% url 'pizza-topping' pizza.pk %}"> << Zamow Pizze  </a>

{% endblock %}
