{% extends 'app1/base.html' %}
{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    {% if message %}
	    <h4>{{ message }}</h4>
    {% endif %}

    <h1>Twoj koszyk</h1><br>
    {% for pizza_order in pizza_orders %}
    nazwa: {{ pizza_order.pizza.name }}<br>
    opis: {{ pizza_order.pizza.description }}<br>
    Skadniki
        {% for pizza_order_top in pizza_order.pizzaordertops_set.all %}
            {{ pizza_order_top.pizza_top.name }} x {{ pizza_order_top.amount }}
            {%  endfor %}
    {%  endfor %}
<br>
<br>
{#    Wybrales ekstra skladniki:#}

{#    {{ formset.as_p }}#}

    <br>
    <input type="submit" value="Dodaj kolejna pizze">
    <br><br>
    <a href="{% url 'pizza-list' %}"> << Dodaj kolejna pizze</a>
    <br>
    ----------------------------------_
    </br>

</form>
{% endblock %}