{% extends 'app1/base.html' %}

{% block content %}
{#    	    <h4>{{ is_logged_in }}</h4>  -> sprawdzenie czy uzytkownik jest zalogowany przekazany do widoku#}

    {% if message %}
	    <h4>{{ message }}</h4>
    {% endif %}

    Lista Pizz:
    <ul>
    {% for pizza in pizzas %}
        <li><a href='/pizza-details/{{ pizza.pk }}'>{{ pizza.name }}</a></li>
    {% endfor %}

    </ul>
   <a href="{% url 'topping-list' %}"> << Zobacz liste dodatkow </a>
    <br><br>
    {% if is_logged_in %}
        <a href="{% url 'accounts:logout' %}"> << Wyloguj </a>
    {% else %}
        <a href="{% url 'accounts:login' %}"> << Zaloguj </a>
    {% endif %}



{% endblock %}